@import url(https://fonts.googleapis.com/css?family=Amatic+SC);

body {
  text-align: center;
  background: linear-gradient(#99ffe5 0%, #b7c4ff 50%, #ffa3a3 100% ); 
  color: white;
  font-family: 'Amatic SC';
}
.menu1{
float:left;
list-style:none;
position:fixed;
background:#99ffe5);
width:100%;
margin-top:0px;
top:0px;
z-index:10;
}
.links{
display:inline;
font-size:20px;
padding-left:35px;
padding-right:35px;
}
#img1{
  width: 100%;
}
.img2{
    width: 250px;
    height: 200px;
}
.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}
.modal-content
{
  margin-top: 100px;
}

.img_modal
  {
    display: inline-block;
  }

.modal-body
{
    text-align: center
}
#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
#myCarousel
{
    background-color: #b7c4ff);
}

#myCarousel img
{
    height: 350px;
       }

.carousel-inner p
{
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 20px;
}
